# Added from req.txt
ctranslate2==3.24.0
pydub==0.25.1
ffmpeg
firebase-admin
fastapi==0.114.2
faster_whisper==0.7.1
firebase_admin==6.5.0
geopy==2.4.0
google-generativeai
google_api_python_client==2.125.0
ipython==8.23.0
jsonschema==4.23.0
keplergl==0.3.2
matplotlib==3.9.2
nexa==1.0
numpy==1.24.4
pandas==2.0.2
#protobuf==5.28.1
pydantic==2.9.1
python-dotenv==1.0.1
python_dateutil==2.9.0.post0
Requests==2.32.3
seaborn==0.13.2
sodapy==2.2.0
squarify==0.4.3
stqdm==0.0.5
streamlit==1.36.0
streamlit_audiorecorder==0.0.5
streamlit_extras==0.4.7
streamlit_geolocation==0.0.10
streamlit_keplergl==0.3.0
uvicorn==0.30.6
WMI==1.5.1

